<%= render "layouts/list" %>
<div class="container">
  <% if flash[:success] %>
      <div class="flash">
        <%= flash[:success] %>
      </div>
    <% end %>
 <div class="row">
  <div class="col-md-3">
   <%= render "users/list", user: @user %>
   <%= render "books/list", book: @book %>
  </div>
   <div class="col-md-9">
    <h2>Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @post_pages.each do |book| %>
      <tr>
        <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></td>
       <td><%= link_to book.title, book, class: "book_#{@book.id}" %></td>
       <td><%= book.book_body %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
    </div>
     </div>
</div>
<div class="containar">
  <div class="row">
   <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <p>CopyRight Infratop.inc</p>
  </div>
</div>
</div>
